body {
  font-family: sans-serif;
}
h1 {
  color: orange;
  font-size: 40px;
}
main {
  display: flex;
  justify-content: flex-start;
  flex-flow: wrap;
}
h2 {
  padding-bottom: 5px;
  border-bottom: solid lightgray 1px;
  margin-bottom: 5px;
  font-size: 30px;
}
.selection {
  /*float: left;*/
  box-sizing: border-box;
  display: inline-block;
  width: 25%;
  min-width: 250px;
  padding-bottom: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
}
.selection img {
  margin-left: 10px;
}
.category-title {
  display: block;
  font-family: sans-serif;
  text-decoration: none;
}
