nav {
  top: 0;
  left: 0;
  position: absolute;
  width: 200px;
  height: auto;
  border: solid lightgray 1px;
}
html {
  margin: 10px;
  position: relative;
}
body {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
main {
  position: absolute;
  top: 0;
  left: 201px;
  padding-left:20px;
  margin-right: 10px;
  border: solid lightgray 1px;
}
ul {
  list-style: none;
  margin: 5px;
  padding: 0;
}
li {
  margin: 5px 0;
  padding: 10px;
  color: gray;
}
li a {
  text-decoration: none;
  color: gray;
}
.inner li:hover {
  border-left: solid black 2px;
  color: black;
}
h1, h2, h3, p {
  font-family: arial;
}
